<h1>Sign up as</h1>
<div class="btn-group" role="group" aria-label="Basic example">
  <%= link_to 'Log in as User', users_sign_up_path, class: 'btn btn-secondary'%>
  <%= link_to 'Log in as Coach', coaches_sign_up_path, class: 'btn btn-secondary'%>
</div>