<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email:</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter your email">
</div>
<div class="d-grid gap-2">
  <%= link_to 'Send code', passwords_send_code_path, class: 'btn btn-secondary'%>
</div>