<h1>My techniques</h1>
<div class="row">
  <% @users_techniques.each do |users_technique|%>
    <div class="card mr-5 mb-5" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= users_technique.technique.name %></h5>
        <p class="card-text"> <%= users_technique.technique.description %></p>
        <h4 class="card-title"><%= users_technique.technique.program.name %></h4>
      </div>
    </div>
  <% end %>
</div>