<%= form_with url: passwords_set_new_password_path, method: :get do |f|%>
  <div class="col-md-6">
    <div class="form-group">
      <label for="email">Enter OTP code:</label>
      <%= f.text_field :otp_code, class: 'form-control', placeholder: '6-digit-code' %>
    </div>
    <%= hidden_field_tag 'email', @email %>
    <%= f.submit 'Submit', class: 'btn btn-primary'%>
  </div>
<% end %>