<div class="card bg-light mb-3" style="max-width: 180rem;">
  <div class="card-header"><%= @step.technique.name %>; technique`s name</div>
  <div class="card-body">
    <h5 class="card-title"><%= @step.title %></h5>
    <p class="card-text"><%= @step.body %></p>
  </div>
</div>