@import "bootstrap/scss/bootstrap";

body {
  background-color: rgb(183,214,235);
}
.card {
  background-color: rgb(206, 223, 112);
  text-align: center;
}
.navbar{
  background-color: rgba(219, 164, 221, 0.699);
}