.avatar-dropdown {
  background-color: rgba(255, 255, 255, 0.90); // Чуть менее прозрачный белый фон для выпадающего меню
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);

  .dropdown-item {
    color: #333;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: rgba(200, 200, 200, 0.25); // Легкий серый оттенок при наведении
    }
  }
}